* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
}
.banner {
  display: flex;
  background-color: rgb(28, 26, 26);
  color: white;
  border-radius: 15px;
  animation: banner-animation 2s ease-in-out;
}
.btn {
  background-color: #ff0000;
  color: white;
  width: 140px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: #cc0000;
}
.logo {
  padding: 20px;
}
.search img {
  display: block;
}
.upcomming {
  display: flex;
  flex: 1;

  margin-top: 20px;
  gap: 20px;
}

.up-left {
  background-color: lightgreen;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 10px;
  width: 5px;
  height: fit-content;
}
.up-left .btn:nth-child(1),
.up-left .btn:nth-child(3) {
  background-color: white;
  color: black;
}
.up-left .btn:nth-child(2) {
  background-color: white;
  color: black;
}

.up-right {
  background-color: lightblue;
  flex: 1;
  display: grid;

  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.match-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  border-radius: 10px;
  border: 2px solid #ff0000;
}
.match-card img {
  width: 180px;
  height: auto;
  border-radius: 10px;
}
.match-card .btn {
  background-color: white;
  color: black;
  border: 2px solid black;
  margin-top: 5px;
  padding: 18px 12px;
}
.match-card p {
  font-size: 16px;
  font-weight: bold;
}
.button-card {
  display: flex;
  gap: 20px;
}

@keyframes banner-animation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  45% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tablet Styles */
@media (max-width: 992px) {
  .upcomming {
    flex-direction: column;
  }
  .up-left {
    flex-direction: row;
    width: 100%;
  }
  .up-left .btn {
    border: #6e8d6d 1px solid;
  }
  .up-right {
    grid-template-columns: repeat(2, 1fr);
  }
  .up-right {
    grid-template-columns: (2, 1fr);
  }
}

/*  Mobile Styles */
@media (max-width: 768px) {
  .upcomming {
    flex-direction: column;
  }
  .up-left {
    flex-direction: column;
    width: 100%;
  }
  .up-left .btn {
    border: #6e8d6d 1px solid;
  }
  .up-right {
    grid-template-columns: repeat(1fr);
  }
  .banner {
    flex-direction: column;
    text-align: center;
  }
  .banner .logo {
    padding: 10px;
  }
  .banner .logo h4 {
    font-size: 50px;
  }
  .banner .logo p {
    font-size: 10px;
    margin: auto;
  }
}
